<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="assets/css/cereal_style.css" type="text/css" />
		<title>MVC with Cereal!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="assets/js/cereal.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
