<div class="container">
  <img id="logo" src="/assets/img/sequelize.png">
  <div class="row main">

    <div class="col-md-4">
      <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UNEATEN</h5>
      <ul class="full-bowl">
        {{#each cereals}}
        {{#unless eaten}}
        {{> bowls-block eaten=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-4">
      <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EATEN</h5>
      <ul class="empty-bowl">
        {{#each cereals}}
        {{#if eaten}}
        {{> bowls-block eaten=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-4">
      <h5>ADD A BOWL</h5>
      <form class="create-form">
        <div class="form-group">
          <input type="text" id="new-bowl" name="name">
          <button type="submit">Add</button>
        </div>
      </form>
    </div>

    <div class="col-md-3"></div>
    <p>Looking for other cereal names? Try <a href="http://theimaginaryworld.com/cbarch.html" target="_blank">this</a>,
      or maybe <a href="https://www.mrbreakfast.com/cereal_list.asp" target="_blank">this</a>,
      insane website.</p>

  </div>

</div>

<footer class="page-footer">
  <!-- For a buffer -->
  <div class="footer-copyright">
  </div>
  <div class="footer-copyright">
  </div>
</footer>